[user]
	name = sgob
	email = marco.sgobino@gmail.com

[core]
    #pager = delta --line-numbers --syntax-theme base16
    excludesfile = ~/.gitignore_global
	autocrlf = input

[interactive]
    diffFilter = delta --color-only --features=interactive

#[delta]
    #navigate = true  # use n and N to move between diff sections
    #line-numbers = true
    #side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[init]
	defaultBranch = main

# git config --add oh-my-zsh.hide-status 1
# git config --add oh-my-zsh.hide-dirty 1
[color]
	ui = auto
