@import url("./style-adwaita.css");

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Iosevka, JetBrains Mono, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    min-height: 0px;
    border: none;
    padding: 0;
    margin: 0;
}

window#waybar {
    background-color: @black;
    border-bottom: 3px solid @black;
    color: @white;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background-color: @black;
}

tooltip label {
    font-weight: normal;
    color: @white;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @pure_white;
}
*/

/*window#waybar.termite {
    background-color: #3F3F3F;
}*/

/*window#waybar.chromium {
    background-color: @pure_black;
    border: none;
}*/

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border-bottom: none;
    border-radius: 2;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @white_bright;
}

#workspaces button {
    padding: 0 3px;
    background-color: @black;
    color: @white;
}

#workspaces button:hover {
    background: @yellow;
    color: @black;
    box-shadow: inset 0 -3px @yellow_bright;
}

#workspaces button.focused {
    background-color: @orange;
    color: @black;
    box-shadow: inset 0 -3px @orange_bright;
}

#workspaces button.active {
    background-color: @orange;
    color: @black;
    box-shadow: inset 0 -3px @orange_bright;
}

#workspaces button.urgent {
    background-color: @red;
    color: @black;
}

#mode {
    background-color: @black_bright;
    border-bottom: 3px solid @white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
    margin: 0 0 0;
    padding: 0 5px 0;
    color: @white;
    border: none;
    border-radius: 0;
    margin-bottom: 2px;
}

#custom-arrow1,
#custom-arrow2,
#custom-arrow3,
#custom-arrow4,
#custom-arrow5,
#custom-arrow6 {
    border: none;
    border-radius: 0;
    margin-bottom: 2px;
}


#window,
#workspaces {
    margin: 0 4px;
    border-bottom: 1.5pt solid transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @green_even_bright;
    color: @black;
}

#battery {
    background-color: @aqua;
    color: @black;
}

#battery.charging, #battery.plugged {
    background-color: @orange;
}

@keyframes blink {
    to {
        background-color: @pure_white;
        color: @pure_black;
    }
}

#battery.warning:not(.charging) {
    background-color: @red_bright;
    color: @pure_white;
}

#battery.critical:not(.charging) {
    background-color: @red_bright;
    color: @pure_white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: @black;
    color: @white;
}

#cpu {
    background-color: @blue;
    color: @black;
}

#memory {
    background-color: @yellow;
    color: @black;
}

#disk {
    background-color: @brownish;
    color: @black;
}

#backlight {
    background-color: @purple;
    color: @black;
}

#network {
    /*background-color: @dark_blue;*/
    background-color: @orange;
    color: @black;
}

#network.disconnected {
    background-color: #3c1f1e;
}

#pulseaudio {
    background-color: @yellow_bright;
    color: @pure_black;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: @pure_black;
}

#wireplumber.muted {
    background-color: @red_bright;
}

#custom-media,
#mpris {
    background-color: rgba(0, 0, 0, 0.2);
    color: @white;
    min-width: 0px;
    padding: 0px 0px;
    margin-left: 7px;
}


/*#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}*/

#temperature {
    background-color: @orange;
    color: @black;
}

#temperature.critical {
    background-color: @red_bright;
}

#tray {
    background-color: @black_bright;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#idle_inhibitor {
    background-color: @black_bright;
}

#idle_inhibitor.activated {
    background-color: @vanilla;
    color: @dark_grey;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: @red_bright;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 3px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: @pure_black;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 3px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#custom-arrow1 {
    color: @yellow_bright;
    background-color: @black;
}

#custom-arrow2 {
    color: @orange;
    background-color: @yellow_bright;
}

#custom-arrow3 {
    color: @purple;
    background-color: @orange;
}
#custom-arrow4 {
    color: @aqua;
    background-color: @purple;
}
#custom-arrow5 {
    color: @green_even_bright;
    background-color: @aqua;
}
#custom-arrow6 {
    color: @black_bright;
    background-color: @green_even_bright;
}
